@use "@/styles/colors" as *;

.button {
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}

.content {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.fill {
  &:global(.ant-btn-primary) {
    background: $greenTealDefault;
    border-color: $greenTealDefault;
    color: #fff;

    &:hover {
      background: $white;
      border-color: $greenTealDefault;
      color: $greenTealDefault;
    }
  }
}

.outline {
  &:global(.ant-btn-default) {
    background: transparent;
    border: 2px solid $greenTealDefault;
    color: $greenTealDefault;
  }
}

.cancel {
  &:global(.ant-btn-default) {
    background: $neutral30;
    border: none;
    color: $white;

    &:hover {
      color: $neutral30;
      border-color: $neutral30;
    }
  }
}
.small {
  height: 32px;
  padding: 4px 16px;
  font-size: 14px;
}

.medium {
  height: 40px;
  padding: 8px 24px;
  font-size: 16px;
}

.large {
  height: 48px;
  padding: 12px 32px;
  font-size: 18px;
}
