@use "@/styles/colors" as *;

.switchWrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.switch {
  &:global(.ant-switch-checked) {
    background: $greenTealDefault !important;
  }
}

.label {
  font-size: 14px;
  margin-left: 10px;
}

.small {
  :global(.ant-switch) {
    height: 18px;
    min-width: 32px;
  }

  :global(.ant-switch-handle) {
    width: 14px;
    height: 14px;
    top: 2px;
  }

  :global(.ant-switch-checked .ant-switch-handle) {
    left: calc(100% - 16px);
  }
}

.medium {
  :global(.ant-switch) {
    height: 22px;
    min-width: 40px;
  }

  :global(.ant-switch-handle) {
    width: 18px;
    height: 18px;
    top: 2px;
  }

  :global(.ant-switch-checked .ant-switch-handle) {
    left: calc(100% - 20px);
  }
}

.large {
  :global(.ant-switch) {
    height: 28px;
    min-width: 52px;
  }

  :global(.ant-switch-handle) {
    width: 24px;
    height: 24px;
    top: 2px;
  }

  :global(.ant-switch-checked .ant-switch-handle) {
    left: calc(100% - 26px);
  }
}
